* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

body {
  background: url('./images/bkground.png');
  background-size: 30%;
  margin: 0;
  font-family: 'Montserrat';
}

.styledContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

.styledCategoryForm {
  background-color: white;
  border-radius: 0.5rem;
}
